# Configuration File for pyPosMat

# pyposmat
pyposmat_out_fname = pyposmat.out
pyposmat_log_fname = pyposmat.log

# pyposmat
pyposmat_type = pareto_surface

# lmmps_configuration_section
lmps_bin                      = /home/eugene/usr/local/lmmps/mpi_meam/lmps_mpi_meam
lmps_exe_script               = /home/eugene/usr/local/lmmps/mpi_meam/run_lmmps.sh

# structure_database-----------------------------------------------------------
dir_structure_db = structure_db
# -----------------------------------------------------------------------------
#           name              filename                       filetype
structure  = MgO_NaCl,        MgO_NaCl_unit.structure,       lmmps
#structure = MgO_ZnS,         MgO_ZnS.structure,            lmmps
#structure = MgO_CsCl,        MgO_CsCl.structure,           lmmps

# lammps simulation temlates---------------------------------------------------
dir_lammps_sim_db = lmp_scripts_db
# -----------------------------------------------------------------------------
#               name      sim_directory
lmps_sim_type = sp,       single_point
# -----------------------------------------------------------------------------
