# Configuration File for pyPosMat

# pyposmat
pyposmat_out_fname = pyposmat.out
pyposmat_log_fname = pyposmat.log

# pyposmat
pyposmat_type = pareto_surface

# lmmps_configuration_section
lmps_bin                      = /home/eugene/usr/local/lmmps/mpi_meam/lmps_mpi_meam
lmps_exe_script               = /home/eugene/usr/local/lmmps/mpi_meam/run_lmmps.sh

# structure_database-----------------------------------------------------------
dir_structure_db = structure_db
# -----------------------------------------------------------------------------
#           name               filename                       filetype
structure  = MgO_NaCl,         MgO_NaCl_unit.vasp,            vasp
structure  = MgO_NaCl_fr_a,    MgO_NaCl_333_fr_a.vasp,        vasp
structure  = MgO_NaCl_fr_c,    MgO_NaCl_333_fr_c.vasp,        vasp
structure  = MgO_NaCl_sch,     MgO_NaCl_333_sch.vasp,         vasp
structure  = MgO_NaCl_001_s,   MgO_NaCl_001_s.vasp,           vasp

# lammps simulation temlates---------------------------------------------------
dir_lammps_sim_db = lmp_scripts_db
# -----------------------------------------------------------------------------
#               name       sim_directory
lmps_sim_type = sp,         single_point
lmps_sim_type = E_min_all,  E_min_all
lmps_sim_type = elastic,    elastic
lmps_sim_type = E_min_pos,  E_min_pos
# -----------------------------------------------------------------------------
